/* Common style css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Recoleta font */
@font-face {
    font-family: "Recoleta";
    src: local("Recoleta"),
        url("/assets/fonts/Recoleta-RegularDEMO.otf") format("opentype") tech(color-COLRv1), url("/assets/fonts/Recoleta-RegularDEMO.otf") format("opentype"), url("/assets/fonts/Recoleta-RegularDEMO.otf") format("woff");
}


:root {

    /* color */
    --color-primary: #177e89;
    /* --color-primary: #177D89; */
    --color-secondary: #F2CA2A;
    --color-black: #000000;
    --color-black-1e: #1e1906;
    --color-black-gray: #3f3f3f;
    --color-white: #F0EFF4;
    --color-line: #4597a1;

    /* font size */
    --h1: 70px;
    --h2: 62px;
    --h3: 34px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --body-text: 16px;
    --logo-text: 36px;
    --menu-text: 16px;
    --btn-text: 16px;
    --hero-text: 18px;

    /* Font Family */
    --font-title: "Recoleta";
    --font-body: 'Montserrat', sans-serif;
    --font-btn: 'Poppins', sans-serif;


}

html,
body,
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-size: var(--body-text);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

/* button style */
.cbailylaw__call-to-action_btn {
    height: 54px;
    width: 150px;
    line-height: 54px;
    display: inline-block;
    background: var(--color-secondary);
    border-radius: 50px;
    text-transform: capitalize;
    color: var(--color-black-1e);
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: var(--btn-text);
    font-family: var(--font-btn);
}

.cbailylaw__call-to-action_btn:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Common style css */

/* Start hader style */
#cbailylaw_header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.cbailylaw_header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    padding: 25px 0;
    height: 100px;
    border-bottom: 1px solid var(--color-line);
}

/* Logo */
.cbailylaw__footer-logo a,
.cbailylaw__logo a {
    font-family: var(--font-title);
    font-size: var(--logo-text);
    line-height: 1;
    color: var(--color-white);
}

/* Navigation */
.cbailylaw__menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cbailylaw__menu ul li:not(:last-child) {
    margin-right: 30px;
}

.cbailylaw__menu ul li {
    position: relative;
}

.cbailylaw__footer-menu ul li a,
.cbailylaw__menu ul li a {
    text-transform: capitalize;
    color: var(--color-white);
    font-family: var(--font-btn);
    font-size: var(--menu-text);
    line-height: 1;
}

.cbailylaw__menu ul li::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background: var(--color-white);
    left: 0;
    bottom: -10px;
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.cbailylaw__menu ul li.cbailylaw__active::before,
.cbailylaw__menu ul li:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0 50%;
}

/* End of hader style */


/* Start Hero style */
.cbailylaw__hero-wrapper {
    background: var(--color-primary);
    overflow: hidden;
}

.cbailylaw__hero-inner {
    min-height: 900px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.cbailylaw__hero-content {
    width: 55%;
    padding-right: 100px;
}

.cbailylaw__hero-content h1 {
    font-size: var(--h1);
    margin-bottom: 30px;
    text-transform: capitalize;
    line-height: 1.15;
    font-weight: normal;
}

.cbailylaw__hero-content p {
    line-height: 28px;
    font-size: var(--hero-text);
    font-weight: 400;
    font-family: var(--font-body);
    margin-bottom: 40px;
}

.cbailylaw__hero-content h1,
.cbailylaw__hero-content p {
    color: var(--color-white);
}

.cbailylaw__hero-img {
    width: 45%;
    position: relative;
    z-index: 1;
}

.cbailylaw__hero-img img {
    height: 648px;
    display: table;
    margin: auto;
    margin-bottom: -150px;

}

.cbailylaw__hero-img__bg-shape {
    height: 680px;
    width: 680px;
    background: #2e8a95;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%);
    z-index: -1;
}

.cbailylaw__hero-img__bg-shape::before {
    position: absolute;
    content: '';
    height: 610px;
    width: 610px;
    background: #42959f;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cbailylaw__hero-img__bg-shape::after {
    position: absolute;
    content: '';
    height: 540px;
    width: 540px;
    background: #519da7;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* End of Hero style */


/* Start service style */
.cbailylaw__service--inner {
    max-width: 1300px;
    margin: auto;
    padding: 100px 0 200px;
}

.cbailylaw__service--title__wrapper {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

.cbailylaw__service--title__wrapper h2 {
    font-size: var(--h2);
    font-family: var(--font-title);
    margin-bottom: 20px;
}

.cbailylaw__service--title__wrapper p {
    line-height: 25px;
}

.cbailylaw__service--card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cbailylaw__service--card {
    width: 23.2%;
    position: relative;
    min-height: 380px;
    padding: 30px 15px;
}

.cbailylaw__service--card:not(:first-child)::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #D9D9D9;
    left: -15px;
}

.cbailylaw__service--card img {
    mix-blend-mode: screen;
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.cbailylaw__service--card h3 {
    font-size: var(--h4);
    font-family: var(--body-text);
    margin-bottom: 30px;
    font-weight: 600;
}

.cbailylaw__service--card p span,
.cbailylaw__service--card p {
    font: 400 var(--body-text)/30px var(--font-body);
}

.cbailylaw__service--card p span {
    display: none;
}

.cbailylaw__service--card p span:target {
    display: inline-block;
}

.cbailylaw__see-more {
    color: var(--color-black-gray);
    font-size: var(--body-text);
    font-family: var(--font-body);
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.8px;
    text-decoration: underline;
    margin-left: 5px;
}

#cbailylaw__see-more:hover {
    color: var(--color-primary);
}

/* End of service style */


/* About style */
.cbailylaw__about {
    background: var(--color-primary);
    position: relative;
    z-index: 1;
}

.cbailylaw__about::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: var(--color-secondary);
    top: 0;
    left: 0;
    z-index: -1;
}

.cbailylaw__about-inner {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cbailylaw__about-content,
.cbailylaw__about-img {
    width: 50%;
    flex: 1 0 50%;
}

.cbailylaw__about-img img {
    margin-top: -100px;
    position: relative;
    bottom: -22px;
    height: 785px;
}

.cbailylaw__about-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cbailylaw__about-content h2 {
    font-size: var(--h2);
    font-family: var(--font-title);
    margin-bottom: 40px;
    color: var(--color-white);
}

.cbailylaw__about-content p {
    color: var(--color-white);
    font-family: var(--font-body);
    line-height: 34px;
    font-size: 20px;
}

.cbailylaw__about-content a {
    display: inline-block;
    width: 64px;
    margin-top: 30px;
}

/* End of about style */


/* Footer style */
.cbailylaw__footer {
    background: #F0EFF4;
}

.cbailylaw__footer-inner {
    max-width: 1300px;
    margin: auto;
}

.cbailylaw__footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid #D9D9D9;
}

.cbailylaw__footer-logo a {
    color: #1C2E6E;
}

.cbailylaw__footer-menu ul {
    display: flex;
    align-items: center;
}

.cbailylaw__footer-menu ul li a {
    color: var(--color-black-gray);
}
.cbailylaw__footer-menu ul li:hover a{
    color: var(--color-primary);
}

.cbailylaw__footer-menu ul li:not(:last-child) {
    margin-right: 50px;
}

.cbailylaw__footer-solial_links ul {
    display: flex;
    align-items: center;
}

.cbailylaw__footer-solial_links ul li:not(:last-child) {
    margin-right: 30px;
}

.cbailylaw__footer-solial_links ul li a {
    font-size: 24px;
    color: #908f92;
}
.cbailylaw__footer-solial_links ul li:hover a{
    color: var(--color-primary);
}

.cbailylaw__footer-bottom{
    padding: 30px 0;
    text-align: center;
}
.cbailylaw__footer-bottom p{
    font-size: var(--body-text);
    font-family: var(--font-btn);
    color: var(--color-black-gray);
}
.cbailylaw__footer-bottom p span{
    font-size: 24px;
}

/* End of footer style */