/* Common style css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Recoleta font */
@font-face {
    font-family: "Recoleta";
    src: local("Recoleta"),
        url("/assets/fonts/Recoleta-RegularDEMO.otf") format("opentype") tech(color-COLRv1), url("/assets/fonts/Recoleta-RegularDEMO.otf") format("opentype"), url("/assets/fonts/Recoleta-RegularDEMO.otf") format("woff");
}


:root {

    /* color */
    --color-primary: #177e89;
    /* --color-primary: #177D89; */
    --color-secondary: #F2CA2A;
    --color-black: #000000;
    --color-black-1e: #1e1906;
    --color-black-gray: #3f3f3f;
    --color-white: #F0EFF4;
    --color-line: #4597a1;

    /* font size */
    --h1: 70px;
    --h2: 62px;
    --h3: 34px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --body-text: 16px;
    --logo-text: 36px;
    --menu-text: 16px;
    --btn-text: 16px;
    --hero-text: 18px;

    /* Font Family */
    --font-title: "Recoleta";
    --font-body: 'Montserrat', sans-serif;
    --font-btn: 'Poppins', sans-serif;


}

html,
body,
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-size: var(--body-text);
    scroll-behavior: smooth;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

/* button style */
.cbailylaw__call-to-action_btn {
    height: 54px;
    width: 150px;
    line-height: 54px;
    display: inline-block;
    background: var(--color-secondary);
    border-radius: 50px;
    text-transform: capitalize;
    color: var(--color-black-1e);
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: var(--btn-text);
    font-family: var(--font-btn);
}

.cbailylaw__call-to-action_btn:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.cbailylaw__call-to-action .cbailylaw__call-to-action_btn {
    height: 48px;
    line-height: 48px;
}


/* Common style css */

/* Start hader style */
#cbailylaw_header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.4s ease;
}

.sticky__header {
    position: fixed !important;
    width: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
    animation: stickyHead 0.4s;
    background: var(--color-primary);
    border-bottom: 1px solid var(--color-line);
}

.sticky__header .cbailylaw_header_inner {
    border-bottom: none;
    height: unset;
    padding: 15px 50px;
}

.sticky__header .cbailylaw_header_inner .cbailylaw__call-to-action_btn {
    height: 40px;
    line-height: 40px;
}

.sticky__header .cbailylaw__logo a {
    font-size: 28px;
}


@keyframes stickyHead {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cbailylaw_header_inner {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    align-content: center;
    padding: 25px 0;
    height: 100px;
    border-bottom: 1px solid var(--color-line);
}

/* Logo */
.cbailylaw__menu,
.cbailylaw__logo {
    display: flex;
    align-items: center;
}

.cbailylaw__footer-logo a,
.cbailylaw__logo a {
    font-family: var(--font-title);
    font-size: var(--logo-text);
    line-height: 1;
    color: var(--color-white);
}

/* Navigation */

.cbailylaw__menu{
    justify-content: flex-end;
}
.cbailylaw__menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cbailylaw__menu ul li:not(:last-child) {
    margin-right: 30px;
}

.cbailylaw__menu ul li {
    position: relative;
}

.cbailylaw__footer-menu ul li a,
.cbailylaw__menu ul li a {
    text-transform: capitalize;
    color: var(--color-white);
    font-family: var(--font-btn);
    font-size: var(--menu-text);
    line-height: 1;
}

.cbailylaw__menu ul li::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background: var(--color-white);
    left: 0;
    bottom: -10px;
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.cbailylaw__menu ul li.cbailylaw__active::before,
.cbailylaw__menu ul li:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0 50%;
}

@media screen and (min-width:992px) {
    .cbailylaw__mobile-menu__toggler {
        display: none;
    }
}

.cbailylaw__call-to-action{
    display: flex;
    justify-content: flex-end;
}

/* End of hader style */


/* Start Hero style */
.cbailylaw__hero-wrapper {
    background: var(--color-primary);
    overflow: hidden;
}

.cbailylaw__hero-inner {
    min-height: 800px;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 53% 47%;
    grid-template-rows: auto;
    align-content: center;
}

.cbailylaw__hero-content {
    padding-right: 30px;
    height: 100%;
    padding-top: 80px;
}

.cbailylaw__hero-content h1 {
    font-size: var(--h1);
    margin-bottom: 30px;
    text-transform: capitalize;
    line-height: 1.15;
    font-weight: normal;
}

.cbailylaw__hero-content p {
    line-height: 28px;
    font-size: var(--hero-text);
    font-weight: 400;
    font-family: var(--font-body);
    margin-bottom: 40px;
}

.cbailylaw__hero-content h1,
.cbailylaw__hero-content p {
    color: var(--color-white);
}

.cbailylaw__hero-img {
    position: relative;
    z-index: 1;
}

.cbailylaw__hero-img img {
    height: 600px;
    object-fit: contain;
    width: 100%;
    position: absolute;
    bottom: -15%;
}

.cbailylaw__hero-img__bg-shape,
.cbailylaw__hero-img__bg-shape::before,
.cbailylaw__hero-img__bg-shape::after {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
}

@media screen and (min-width:1440px) {
    .cbailylaw__hero-img__bg-shape {
        height: 680px;
        width: 680px;
    }
}

.cbailylaw__hero-img__bg-shape {
    height: 580px;
    width: 580px;
    background: #2e8a95;
    transform: translate(-50%, -35%);
    z-index: -1;
}

.cbailylaw__hero-img__bg-shape::before,
.cbailylaw__hero-img__bg-shape::after {
    content: '';
    transform: translate(-50%, -50%);
}

.cbailylaw__hero-img__bg-shape::before {
    height: 88%;
    width: 88%;
    background: #42959f;
}

.cbailylaw__hero-img__bg-shape::after {
    height: 76%;
    width: 76%;
    background: #519da7;
}


/* End of Hero style */


/* Start service style */
.cbailylaw__service--inner {
    max-width: 1300px;
    margin: auto;
    padding: 100px 0 200px;
}

.cbailylaw__service--title__wrapper {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

.cbailylaw__service--title__wrapper h2 {
    font-size: var(--h2);
    font-family: var(--font-title);
}

.cbailylaw__service--title__wrapper p {
    line-height: 25px;
}

.cbailylaw__service--card_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.cbailylaw__service--card {
    position: relative;
}

.cbailylaw__service--card:not(:first-child)::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #D9D9D9;
    left: -15px;
}

.cbailylaw__service--card img {
    mix-blend-mode: multiply;
    filter: contrast(1);
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease;
}

.cbailylaw__service--card:hover img {
    transform: scale(1.2);
}

.cbailylaw__service--card h3 {
    font-size: var(--h4);
    font-family: var(--body-text);
    margin-bottom: 20px;
    font-weight: 600;
}

.cbailylaw__service--card p span,
.cbailylaw__service--card p {
    font: 400 var(--body-text)/30px var(--font-body);
}

.cbailylaw__service--card p span {
    display: none;
}

.cbailylaw__service--card p span:target {
    display: inline-block;
}

.cbailylaw__see-more {
    color: var(--color-black-gray);
    font-size: var(--body-text);
    font-family: var(--font-body);
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.8px;
    text-decoration: underline;
    margin-left: 5px;
}

#cbailylaw__see-more:hover {
    color: var(--color-primary);
}

/* End of service style */


/* About style */
.cbailylaw__about {
    background: var(--color-primary);
    position: relative;
    z-index: 1;
}

.cbailylaw__about::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: var(--color-secondary);
    top: 0;
    left: 0;
    z-index: -1;
}

.cbailylaw__about-inner {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cbailylaw__about-img {
    display: flex;
    justify-content: center;
}

.cbailylaw__about-img img {
    width: 100%;
    margin-top: -100px;
    position: relative;
    bottom: -15px;
    height: 785px;
    left: -30px;
}

.cbailylaw__about-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cbailylaw__about-content h2 {
    font-size: var(--h2);
    font-family: var(--font-title);
    margin-bottom: 40px;
    color: var(--color-white);
}

.cbailylaw__about-content p {
    color: var(--color-white);
    font-family: var(--font-body);
    line-height: 34px;
    font-size: 20px;
}

.cbailylaw__about-content a {
    display: inline-block;
    width: 64px;
    margin-top: 30px;
}

/* End of about style */


/* Start Testimonial style */

.cbailylaw__testimonial {
    position: relative;
    z-index: 1;
}

.cbailylaw__testimonial::before {
    position: absolute;
    content: url(assets/imgs/t-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.cbailylaw__testimonial-inner {
    max-width: 1300px;
    margin: auto;
    padding: 100px 0;
}

.cbailylaw__testimonial-titile__wrapper {
    text-align: center;
    margin-bottom: 80px;
}

.cbailylaw__testimonial-titile__wrapper h2 {
    font: 400 var(--h2)/1 var(--font-title);
    margin-bottom: 30px;
}

.cbailylaw__testimonial-titile__wrapper p {
    font: 400 var(--hero-text)/1 var(--font-body);
    color: var(--color-black-gray);
}

.cbailylaw__testimonial-wrapper:not(:last-child) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #D9D9D9;
}

.cbailylaw__testimonial-wrapper h3 {
    font: 600 var(--h3)/1 var(--font-body);
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.cbailylaw__testimonial-grids {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}

.cbailylaw__testimonial-grid p {
    font: 300 20px/34px var(--font-body);
    color: var(--color-black);
    letter-spacing: 0.8px;
}

.cbailylaw__testimonial-grid.attribution {
    text-align: right;
}

/* this style is a problem! Don't use span here*/
/* 
Author: Ratul
Description: changed the SPAN to P tag added the class name for styling
*/
.cbailylaw__testimonial-grid .testimonial__author a,
.cbailylaw__testimonial-grid .testimonial__author {
    display: inline-block;
    color: var(--color-black);
    font: 600 18px/1 var(--font-body);
    line-height: normal;
    letter-spacing: 0.8px;
    border-bottom: 1px solid var(--color-black-gray);
    text-transform: capitalize;
    margin-top: 10px;
}

.cbailylaw__testimonial-grid .testimonial__author a {
    color: var(--color-primary);
}

.cbailylaw__testimonial-grid.cbailylaw__testimonial-grid__bottom .testimonial__author {
    border-color: var(--color-primary) !important;
}

.cbailylaw__testimonial-grid.cbailylaw__testimonial-grid__bottom .testimonial__author a {
    border: none;
}

/* .cbailylaw__testimonial-grid-full a {
    margin: 0;
    display: initial;
} */

/* End of testimonial style */


/* Contact style */

.cbailylaw__contact {
    background: var(--color-primary);
    padding: 60px 0;
}

.cbailylaw__contact-inner {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cbailylaw__contact-info {
    padding-right: 100px;
}

.cbailylaw__contact-info h2 {
    font: 400 var(--h2)/1.1 var(--font-title);
    color: var(--color-white);
    margin-bottom: 30px;
}

.cbailylaw__contact-info p {
    font: 400 20px/34px var(--font-body);
    color: var(--color-white);
    letter-spacing: 0.8px;
    padding-right: 100px;
}

.cbailylaw__contact-info ul {
    border-top: 1px solid #D9D9D9;
    margin-top: 50px;
    padding-top: 50px;
}

.cbailylaw__contact-info ul li:not(:last-child) {
    margin-bottom: 40px;
}

.cbailylaw__contact-info ul li {
    display: flex;
    align-items: center;
}

.cbailylaw__contact-info ul li img {
    margin-right: 20px;
}

.cbailylaw__contact-info ul li span {
    font: 400 20px/1 var(--font-body);
    color: var(--color-white);
    letter-spacing: 0.8px;
}

.cbailylaw__contact-form {
    background: #FFF;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.10);
    padding: 100px 80px;
}

.cbailylaw__contact-form .cbailylaw__input textarea,
.cbailylaw__contact-form .cbailylaw__input input {
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

.cbailylaw__contact-form .cbailylaw__input textarea:focus,
.cbailylaw__contact-form .cbailylaw__input input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-primary);
}

.cbailylaw__contact-form .cbailylaw__input:not(:last-child) {
    margin-bottom: 30px;
}

.cbailylaw__contact-form .cbailylaw__input::-webkit-input-placeholder {
    color: #9F9F9F;
    font-size: 20px;
    font-family: var(--font-body);
    letter-spacing: 0.8px;
}

.cbailylaw__contact-form .cbailylaw__input::-moz-placeholder {
    color: #9F9F9F;
    font-size: 20px;
    font-family: var(--font-body);
    letter-spacing: 0.8px;
}

.cbailylaw__contact-form .cbailylaw__input:-ms-input-placeholder {
    color: #9F9F9F;
    font-size: 20px;
    font-family: var(--font-body);
    letter-spacing: 0.8px;
}

.cbailylaw__contact-form .cbailylaw__input:-moz-placeholder {
    color: #9F9F9F;
    font-size: 20px;
    font-family: var(--font-body);
    letter-spacing: 0.8px;
}

.cbailylaw__contact-form button {
    height: 54px;
    background: var(--color-secondary);
    color: var(--color-black);
    font-size: var(--body-text);
    font-family: var(--font-body);
    font-weight: 500;
    border: none;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cbailylaw__contact-form button:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* End of Contact style */


/* Footer style */
.cbailylaw__footer {
    background: #F0EFF4;
}

.cbailylaw__footer-inner {
    max-width: 1300px;
    margin: auto;
}

.cbailylaw__footer-top {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    align-content: center;
    padding: 50px 0;
    border-bottom: 1px solid #D9D9D9;
}

.cbailylaw__footer-logo a {
    color: #1C2E6E;
}

.cbailylaw__footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cbailylaw__footer-menu ul {
    display: flex;
    align-items: center;
}

.cbailylaw__footer-menu ul li a {
    color: var(--color-black-gray);
}

.cbailylaw__footer-menu ul li:hover a {
    color: var(--color-primary);
}

.cbailylaw__footer-menu ul li:not(:last-child) {
    margin-right: 50px;
}

.cbailylaw__footer-solial_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cbailylaw__footer-solial_links ul {
    display: flex;
    align-items: center;
}

.cbailylaw__footer-solial_links ul li:not(:last-child) {
    margin-right: 30px;
}

.cbailylaw__footer-solial_links ul li a {
    font-size: 24px;
    color: var(--color-line);
}

.cbailylaw__footer-solial_links ul li:hover a {
    color: var(--color-primary);
}

.cbailylaw__footer-bottom {
    padding: 30px 0;
    text-align: center;
}

.cbailylaw__footer-bottom p {
    font-size: var(--body-text);
    font-family: var(--font-btn);
    color: var(--color-black-gray);
}

.cbailylaw__footer-bottom p span {
    font-size: 24px;
}

@media screen and (min-width:992px) {
    .footer__info {
        max-width: 100%;
        width: 80%;
        margin: auto;
    }
}

.footer__info {
    line-height: 28px;
    margin-bottom: 10px;
}

/* End of footer style */