@media screen and (max-width:1366px) {

    /* services */
    .service--inner {
        padding: 50px 50px 101px;
    }


    /* testimonial */
    .testimonial-inner {
        padding: 50px 0;
    }

    /* contact */
    .contact-info p {
        padding-right: 50px;
    }

}

@media screen and (max-width:1330px) {

    .about-inner,
    .header_inner,
    .hero-inner,
    .contact-inner,
    .footer-inner {
        padding: 0 50px;
    }

    .about__info--row__inner {
        padding: 50px;
    }

    .testimonial-inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .sticky__header .header_inner {
        padding: 15px 50px !important;
    }

    .about-img img {
        bottom: -14px;
        height: 820px;
    }

    /* error page */
    .error__404 {
        padding: 180px 0 90px;
    }

    .error__404--inner h1 {
        font-size: 130px;
    }

}

@media screen and (max-width:1300px) {
    .hero-img__bg-shape {
        height: 600px;
        width: 600px;
    }

    .hero-content h1 {
        font-size: 50px;
        line-height: 65px;
    }

    .hero-img img {
        bottom: -30%;
    }
}

@media screen and (max-width:1220px) {
    .hero-img__bg-shape {
        height: 550px;
        width: 550px;
    }

    .hero-inner {
        min-height: 700px;
    }

    .about-img img {
        bottom: -14px;
        height: 854px;
    }
}

@media screen and (max-width:1200px) {
    .about-img img {
        left: 0px;
        bottom: -50px;
    }
}

@media screen and (max-width:1199px) {
    h2 {
        font-size: 48px !important;
    }

    .contact-info p {
        padding-right: 0;
        font-size: 18px;
        line-height: 30px;
    }

    .contact-info {
        padding-right: 50px;
    }

    .contact-info ul {
        margin-top: 30px;
        padding-top: 30px;
    }

    .contact-info ul li span {
        line-height: 1.4;
    }

    .contact-form {
        padding: 50px;
    }

    .about-img img {
        bottom: 0;
    }
}

@media screen and (max-width:1190px) {
    .menu {
        padding-right: 20px;
    }
}

@media screen and (max-width:1176px) {
    .hero-content h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .hero-img img {
        margin-bottom: 0;
        bottom: -32%;
    }

    .hero-content {
        padding-right: 50px;
    }
}

@media screen and (max-width:1120px) {

    .logo a,
    .footer-logo a {
        font-size: 28px;
    }

    /* error page */
    .error__404 {
        padding: 160px 0 70px;
    }
}

@media screen and (max-width:1024px) {

    .header_inner,
    .hero-inner,
    .contact-inner,
    .footer-inner {
        padding: 0 30px;
    }

    .about__info--row__inner {
        padding: 50px 30px;
    }

    .testimonial-inner,
    .sticky__header>.header_inner {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .service--inner {
        padding: 50px 30px;
    }

    .service--card_wrapper {
        grid-template-columns: 50% 50%;
    }

    .service--card {
        min-height: auto;
        padding: 0 15px;
    }

    .service--card:nth-child(2n + 1)::before {
        display: none;
    }

    .hero-content h1 {
        font-size: 38px;
        line-height: 52px;
    }

    h2 {
        font-size: 34px !important;
        line-height: 46px;
    }

    .hero-content p {
        line-height: 28px;
        font-size: 16px;
    }

    /* about */
    .about-img img {
        bottom: 0;
        margin-top: 0;
        height: auto;
    }

    .about-content p {
        font-size: 14px;
        line-height: 24px;
    }

    /* testimonial */
    .testimonial-grids {
        gap: 30px;
    }

    .testimonial-grid p {
        font-size: 16px;
        line-height: 27px;
    }

    .testimonial-grid p em,
    .testimonial-grid p,
    .testimonial-grid .testimonial__author a,
    .testimonial-grid .testimonial__author {
        font-size: 15px;
    }

    .about::before {
        width: 55%;
    }

    .hero-img img {
        bottom: -28%;
    }

}

@media screen and (max-width:1023px) {

    .hero-inner {
        grid-template-columns: 100%;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .hero-img img {
        height: 390px;
        position: unset;
        margin-bottom: -100px !important;
    }

    .hero-content,
    .hero-img {
        width: 100%;
    }

    .hero-content {
        order: 2;
        margin-top: 80px;
    }

    .hero-img {
        order: 1;
    }

    .hero-content {
        padding-right: 0;
        text-align: center;
    }


    .hero-img__bg-shape {
        height: 440px;
        width: 440px;
    }

    .footer-top {
        grid-template-columns: 35% 45% 20%;
    }


}


@media screen and (max-width:991px) {
    .header_inner {
        height: 80px;
        grid-template-columns: 30% 70%;
    }

    .mobile-menu__toggler {
        height: 32px;
        width: 32px;
        font-size: 20px;
        background: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-left: auto;
    }

    nav.menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #12727c;
        padding: 30px;
        width: 100%;
        display: none;
    }

    .menu ul {
        display: block;
    }

    .menu ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .call-to-action {
        display: none;
    }

    /* about */
    .about-inner {
        grid-template-columns: 100%;
        padding: 50px;
    }

    .about-img img {
        width: inherit;
        height: 600px;
    }

    .about-content {
        text-align: center;
    }

    .about-content h2 br {
        display: none;
    }

    .about-content h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .about-content a {
        display: inline-block;
        margin: 30px auto 0;
    }

    .about-content {
        padding: 0;
    }

    .about::before {
        display: none;
    }

    /* testimonial */
    .testimonial-grids {
        gap: 25px;
    }

    .testimonial-wrapper h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .about__info--col h3 {
        font-size: 28px;
    }

    .footer-logo a,
    .site__logo a {
        font-size: 32px;
    }

    /* error page */
    .error__404 {
        padding: 130px 0 50px;
    }

    .error__404--inner h1 {
        font-size: 100px;
    }



}

@media screen and (max-width:910px) {

    .footer-logo a,
    .site__logo a {
        font-size: 30px;
    }
}

@media screen and (max-width:880px) {

    .header_inner,
    .hero-inner,
    .contact-inner,
    .footer-inner {
        padding: 0 20px;
    }

    .about__info--row__inner {
        padding: 30px 20px 50px;
        grid-template-columns: 100%;
        gap: 30px;
    }

    .about__info--col h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .service--inner {
        padding: 35px 20px;
    }

    .testimonial-inner,
    .about-inner {
        padding: 50px 20px;
    }

    nav.menu {
        padding: 30px 20px !important;
    }

    .hero-inner {
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .contact-form {
        padding: 30px;
    }

    h2 {
        font-size: 32px !important;
    }

    .testimonial-wrapper h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info h2 {
        margin-bottom: 20px;
    }

    .contact-info p {
        font-size: 16px;
        line-height: 28px;
    }

    .contact-info ul li:not(:last-child) {
        margin-bottom: 20px;
    }

    .contact-info ul li img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .contact-info ul li span {
        font-size: 16px;
    }

}

@media screen and (max-width:870px) {
    .hero-content h1 {
        font-size: 44px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:801px) {
    .hero-content h1 {
        padding: 0 100px;
    }
}

@media screen and (max-width:800px) {

    .footer-top {
        display: block;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-logo,
    .footer-menu ul {
        margin-bottom: 15px;
    }

    .footer-solial_links ul,
    .footer-menu ul {
        justify-content: center;
    }

    .contact-inner {
        grid-template-columns: 100%;
        gap: 30px 0;
    }

    .contact-info {
        padding-right: 0;
    }

    .footer-logo a,
    .logo a {
        font-size: 30px;
    }

    .footer-menu ul li:not(:last-child) {
        margin-right: 25px;
    }

    /* service */
    .service--title__wrapper {
        margin-bottom: 30px;
    }

    .testimonial-grids,
    .service--card_wrapper {
        grid-template-columns: 100%;
    }

    .service--card::before {
        display: none;
    }

    .service--card {
        text-align: center;
        padding: 0;
    }

    .service--card h3 {
        margin-bottom: 15px;
    }

    /* Testimonial */
    .testimonial-titile__wrapper {
        margin-bottom: 50px;
    }

    .testimonial-titile__wrapper h2 {
        margin-bottom: 15px;
    }

    .testimonial-grid .testimonial__author a,
    .testimonial-grid .testimonial__author {
        margin-top: 5px;
    }

    .testimonial-wrapper:not(:last-child) {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .testimonial-wrapper h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .testimonial {
        overflow: hidden;
    }

    .footer-solial_links {
        justify-content: center;
    }

    .footer-top {
        padding: 30px 0;
    }

    .header_inner {
        grid-template-columns: 40% 60%;
    }

    h2 {
        font-size: 28px !important;
    }


}

@media screen and (max-width:767px) {

    .footer-logo a,
    .site__logo a {
        font-size: 26px;
    }

    /* error page */
    .error__404--inner {
        max-width: 600px;
        padding: 50px 30px;
    }
}

@media screen and (max-width:673px) {
    .hero-content h1 {
        padding: 0 50px;
    }

    /* about */
    .about-img img {
        height: 450px;
    }

    .testimonial::before {
        width: 100%;
        height: 100%;
    }

    /* error page */
    .error__404--inner {
        max-width: 550px;
    }
}

@media screen and (max-width:600px) {

    .header_inner,
    .hero-inner,
    .contact-inner,
    .footer-inner {
        padding: 0 15px;
    }

    .testimonial-inner {
        padding: 30px 15px;
    }

    h2 {
        font-size: 30px !important;
    }

    .service--card img {
        margin-bottom: 20px;
    }

    .service--inner {
        padding: 30px 15px;
    }

    nav.menu {
        padding: 30px 15px !important;
    }

    .hero-inner {
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .contact-form {
        padding: 20px;
    }

    .footer-top {
        padding: 30px 0;
    }

    .footer-logo a,
    .site__logo a {
        font-size: 22px;
    }

    .footer-menu ul li:not(:last-child) {
        margin-right: 20px;
    }

    /* about */
    .about::before {
        display: none;
    }

    .about-inner {
        padding: 50px 20px;
    }

    .header_inner {
        height: 60px;
    }

    /* error page */
        .error__404 {
            padding: 110px 0 50px;
        }
    .error__404--inner {
        max-width: 85%;
    }

    .error__404--inner h1 {
        font-size: 70px;
    }

    .error__404--inner h2 {
        font-size: 26px !important;
    }

    .error__404--inner p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:562px) {
    .hero-content h1 {
        padding: 0;
    }

    .header_inner {
        grid-template-columns: 50% 50%;
    }

    .about__info--col ul li {
        font-size: 14px;
        padding-left: 30px;
    }

    /* error page */
        .error__404 {
            padding: 90px 0 30px;
        }
    .error__404--inner {
        max-width: 90%;
        padding: 30px 15px;
    }

    .error__404--inner .call-to-action_btn {
        min-width: 170px;
        height: 45px;
        line-height: 45px;
    }
}

@media screen and (max-width:499px) {
    .hero-content h1 {
        font-size: 40px;
        line-height: 54px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-img img {
        height: 350px;
    }

    .hero-img__bg-shape {
        height: 350px;
        width: 350px;
    }

    .footer__info {
        font-size: 14px !important;
    }

    .about-img img {
        height: inherit;
    }

    .about-content p {
        font-size: 15px;
        line-height: 25px;
    }

    .about__info--col ul li::before {
        width: 13px;
        height: 13px;
    }


}

@media screen and (max-width:426px) {
    .logo a {
        font-size: 22px;
    }

    .footer-logo a,
    .site__logo a {
        font-size: 20px;
    }
}

@media screen and (max-width:423px) {
    .hero-content h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 24px !important;
    }

    .testimonial-wrapper h3 {
        font-size: 18px;
    }
}

@media screen and (max-width:375px) {

    .footer-logo a,
    .logo a {
        font-size: 25px;
    }

    .footer-menu ul li:not(:last-child) {
        margin-right: 25px;
    }

    .footer-logo,
    .footer-menu ul {
        margin-bottom: 15px;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .header_inner {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width:320px) {

    .footer-bottom p,
    .footer-menu ul li a {
        font-size: 14px;
    }
}